@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

$font-family: "Open Sans", sans-serif, Helvetica;

@mixin font-defaults {
  font-family: $font-family;
}

@mixin title {
  @include font-defaults;

  font-size: 2em;
  font-weight: 800;
}